body {
    font-family: "Lato", sans-serif;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    position:relative;
    float: left;
    width: 500px;
    height: 500px;
    margin-bottom: 16px;
    padding: 8px;
  }
  
  .card {
    box-shadow: 0 19px 38px rgba(150, 148, 148, 0.3), 0 15px 12px rgba(0,0,0,0.22);
    color: #f1f1f1;
    background-color: #2b2a2a;
    margin: 9px;
    height: 400px;
    width: 245px;
    position: relative;
    left: 100px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #694069;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }