
  body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
    background-color:"black";}
  
    .w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
      color: #eeece9!important;
      background-color: #26292a !important;
  }
  .w3-white, .w3-hover-white:hover {
    color: #e4e2de !important;
    background-color: #1e2021 !important;
}
.w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
  background-color: #3b3a3a;}
  #more {display: none;}
  

